<div class="card">
  <div class="card-body">
    <h3>{{ eventType | capitalizeFirstLetter }}</h3>
    <hr />
    <form [formGroup]="eventsInDay">
      <div class="form-group"
           *ngFor="let controls of eventsInDay.get(day + 'Events.' + eventType).controls; let i = index">
        <div class="row"
             [formGroupName]="day + 'Events'">
          <div [formArrayName]="eventType"   
               class="col-md-12">
            <mat-toolbar>
              <button mat-icon-button (click)="deleteTextArea($event)" [id]="day + '_' + eventType + '_' + i">
                <mat-icon class="toolbar" color="primary">delete</mat-icon>
              </button>
            </mat-toolbar>
            <quill-editor [formControlName]="i" [modules]="config" [styles]="editorStyle" (onContentChanged)="maxLength($event)"></quill-editor>
          </div>
        </div>
        <hr />
      </div>
    </form>
    <div class="text-center">
    <button mat-mini-fab type="button" (click)="addTextArea()">
      <mat-icon color="primary">add</mat-icon>
    </button>
    </div>
  </div>
</div>
