<div class="card">
  <div class="card-body">
    <h3>{{ eventType | capitalizeFirstLetter }}</h3>
    <hr />
    <form [formGroup]="eventsInDay">
      <div class="form-group"
           *ngFor="let controls of eventsInDay.get(day + 'Events.' + eventType).controls; let i = index">
        <div class="row"
             [formGroupName]="day + 'Events'">
          <div [formArrayName]="eventType"
               class="col-md-12">
            <toolbar></toolbar>
            <textarea class="form-control"
                      [formControlName]="i"></textarea>
          </div>
        </div>
        <hr />
      </div>
    </form>
    <div class="text-center">
    <button mat-mini-fab (click)="addTextArea()">
      <mat-icon color="primary">add</mat-icon>
    </button>
    </div>
  </div>
</div>
