.mat-toolbar{
  background-color: #13293D;
  max-height: 25px;
  border-radius: 1px;
  margin-bottom: 3px;
  color: white;
  justify-content: flex-end;
  padding: 15px;
  border-radius: 4px;
}

.mat-mini-fab{
  max-height: 20px;
  max-width: 20px;
}

.mat-icon{
  max-height: inherit;
  max-width: none;
  color: white;
  margin-right: 12px;
}
