.card {
  height: 250px;
  padding: 0px;
}
mat-icon {
  color: darkslateblue
}

.card-body {
  text-align: center;
  vertical-align:central;
  padding: 25px;
}

.title {
  text-align: center;
}

.title h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #13293D;

}
