.editForm{
  margin-left: -150px;
  margin-right: -150px;
}

button {
  margin-top: -40px;
  margin-right: 10px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #13293D;
}


