<form [formGroup]="eventsForm" (ngSubmit)="onCreatePost(eventsForm.value)">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-2 offset-md-1">
        <calendar class="calendarStyle"></calendar>
      </div>
      <div class="col-md-4">
        <h1 class="display-3">{{ month + '  ' + year }}</h1>
        <h3 class="display-4">{{ selectedWeekRange }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-8">
        <div class="row">
          <button type="button"
                  class="btn btn-primary">
            Save Calendar
          </button>
          <button type="submit"
                  class="btn btn-success">
            Upload Calendar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="editForm">
    <div class="container-fluid">

      <div class="row text-center">
        <div formGroupName="mondayEvents"
             class="col-md-2 offset-md-1">
          <h2>Monday</h2>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="classwork"
                          day="monday"></events-for-day>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="homework"
                          day="monday"></events-for-day>
        </div>

        <div formGroupName="tuesdayEvents"
             class="col-md-2">
          <h2>Tuesday</h2>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="classwork"
                          day="tuesday"></events-for-day>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="homework"
                          day="tuesday"></events-for-day>
        </div>

        <div formGroupName="wednesdayEvents"
             class="col-md-2">
          <h2>Wednesday</h2>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="classwork"
                          day="wednesday"></events-for-day>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="homework"
                          day="wednesday"></events-for-day>
        </div>

        <div formGroupName="thursdayEvents"
             class="col-md-2">
          <h2>Thursday</h2>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="classwork"
                          day="thursday"></events-for-day>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="homework"
                          day="thursday"></events-for-day>
        </div>

        <div formGroupName="fridayEvents"
             class="col-md-2">
          <h2>Friday</h2>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="classwork"
                          day="friday"></events-for-day>
          <events-for-day [eventsInDay]="eventsForm"
                          eventType="homework"
                          day="friday"></events-for-day>
        </div>
      </div>
      <hr />
    </div>
  </div>
</form>


