<div class="container-fluid">
  <form [formGroup]="eventsForm" (ngSubmit)="onCreatePost(eventsForm.value)">
    <div class="row text-center">
      <div formGroupName="mondayEvents"
           class="col-md-2 offset-md-1">
        <h3 class="display-4">Monday</h3>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="classwork"
                        day="monday"></events-for-day>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="homework"
                        day="monday"></events-for-day>
      </div>

      <div formGroupName="tuesdayEvents"
           class="col-md-2">
        <h3 class="display-4">Tuesday</h3>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="classwork"
                        day="tuesday"></events-for-day>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="homework"
                        day="tuesday"></events-for-day>
      </div>

      <div formGroupName="wednesdayEvents"
           class="col-md-2">
        <h3 class="display-4">Wednesday</h3>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="classwork"
                        day="wednesday"></events-for-day>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="homework"
                        day="wednesday"></events-for-day>
      </div>

      <div formGroupName="thursdayEvents"
           class="col-md-2">
        <h3 class="display-4">Thursday</h3>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="classwork"
                        day="thursday"></events-for-day>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="homework"
                        day="thursday"></events-for-day>
      </div>

      <div formGroupName="fridayEvents"
           class="col-md-2">
        <h3 class="display-4">Friday</h3>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="classwork"
                        day="friday"></events-for-day>
        <events-for-day [eventsInDay]="eventsForm"
                        eventType="homework"
                        day="friday"></events-for-day>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-2 offset-md-9">
        <button type="submit"
                class="btn btn-success">
          Upload Calendar
        </button>
      </div>
    </div>
  </form>
</div>


