<nav class="navbar navbar-expand-md sticky-top" style="background-color: white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img src="assets/soliday_v6.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collape navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" *ngIf="isAuthenticated">Dashboard</a>
        </li>
        <li>
          <a class="nav-link" routerLink="" *ngIf="isAuthenticated">Account Settings</a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="/home" *ngIf="!isAuthenticated">Home</a>
        </li>
        <li>
          <a class="nav-item nav-link" [routerLink]="['/auth', 'true']" *ngIf="!isAuthenticated">Login</a>
        </li>
        <li>
          <a class="nav-item nav-link" [routerLink]="['/auth', 'false']" *ngIf="!isAuthenticated">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />



