@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #13293D;
}

.navbar-nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  padding-left: 40px;
  padding-right: 40px;
}


.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
    display: inline-block;
    float: none;
}

.navbar{
  margin-bottom: -16px;
}

hr{
  border: 1px solid;
}


