<div class="card">
  <div class="card-body">
    <h3>{{ eventType | capitalizeFirstLetter }}</h3>
    <hr />
    <form [formGroup]="eventsInDay">
      <div class="form-group"
           *ngFor="let controls of eventsInDay.get(day + 'Events.' + eventType).controls; let i = index">
        <div class="row"
             [formGroupName]="day + 'Events'">
          <div class="col-md-1">
            <h5> {{ i + 1 }}</h5>
          </div>
          <div [formArrayName]="eventType"
               class="col-md-10">
            <textarea class="form-control"
                      [formControlName]="i"></textarea>
          </div>
        </div>
        <hr />
      </div>
    </form>
    <div class="text-center">
      <button type="button" (click)="addTextArea()">
        <img src="assets/AddEvent.png">
      </button>
    </div>
  </div>
</div>
