@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

.card {
  height: 250px;
  padding: 0px;
}

mat-icon{
  color: ghostwhite;
}

.card-body {
  text-align: center;
  vertical-align: central;
  padding: 25px;
}

button {
}

.title {
  text-align: center;
}

.mat-fab{
  background-color: #13293D;
}



.title h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #13293D;
}

