<div class="card" style="background-color: white">
  <div class="card-header" style="background-color: white">
    <div class="title">
      <h3 class="display-5" style="color: black"> {{ title }}</h3>
    </div>
  </div>

  <div class="card-body">
    <button mat-fab (click)="onViewCourseClick()">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <p class="text-muted">View Course</p>
  </div>

  <div class="card-footer" style="background-color: #13293D">
    <p>yes</p>
  </div>
</div>

