.card {
  height: 250px;
  padding: 0px;
}

mat-icon{
  color: ghostwhite;
}

.card-body {
  text-align: center;
  vertical-align: central;
  padding: 25px;
}

button {
}

.title {
  text-align: center;
}

.mat-fab{
  background-color: #13293D;
}
