<form [formGroup]="calendarCreationForm" (ngSubmit)="onCalendarCreation(calendarCreationForm.value)">
  <div class="form-group">
    <label class="heading" for="title">Calendar Name</label>
    <input id="title" class="form-control" [formControlName]="'title'" />
  </div>
  <div class="form-group">
    <label class="heading" for="lastName">Instructor Name</label>
    <input  id="lastName" class="form-control" formControlName="lastName" />
  </div>
  <div class="form-group">
    <label>Course Access Code: {{ randomNumber }}</label>
    <br />
    <label>Please provide this code to students of the course</label>
  </div>
  <div>
    <button class="btn btn-success"
            type="submit">
      Create Calendar
    </button>
  </div>
</form>
